# Do not commit datasets / generated audio
data/raw/
data/standardized_wav/
data/segments/
data/features/
data/results/

# Do not commit model checkpoints
*.pt
*.pth
*.wav

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db